*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: url(../img/fondo.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    font-size: 10px;
    min-width: 320px;
    max-width: 1280px;
}

.contenedor{
  width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  display: block;
}


/* WARNING: TODOS LOS ESTILOS DEL "SLIDER" SE ENCARGA CRISTIAN!!! */
.slider{
  width: 100%;
  position: relative;
  border: solid 1px blue;
  border-radius: 5px;
}

.slider ul li{
  width: 100%;
}

.slider ul li img{
  width: 100%;
  border-radius: 5px;
}

.slider ol{
  position: absolute;
  bottom: 1%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider ol li{
  margin: 0;
  padding: 0 0.3%;
  color: blue;
}

.iconopaginacion{
  font-size: 200%;
  text-align: center;
  cursor: pointer;
  display: none;
}

.iconopaginacion:hover{
  padding-left: 5%;
  transition: all 0.5s;
}

.flechaisquierda{
  position: absolute;
  left: 0;
  top: 0;
  border-right: solid 1px #fff126;
  height: 100%;
  width: 10%;
  background: #00000057;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flechaisquierda .left{
  display: block;
  font-size: 600%;
  color: blue;
  cursor: pointer;
}

.flechaisquierda .left:hover{
  padding-left: 20%;
  color: red;
  transition: all 0.5s;
}

.flechaderecha{
  position: absolute;
  right: 0;
  top: 0;
  border-left: solid 1px #fff126;
  height: 100%;
  width: 10%;
  background: #00000057;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flechaderecha .right{
  display: block;
  font-size: 600%;
  color: blue;
  cursor: pointer;
}

.flechaderecha .right:hover{
  padding-right: 20%;
  color: red;
  transition: all 0.5s;
}


/* WARNING: TODOS LOS ESTILOS DEL "MENU DE PAGOS" SE ENCARGA CRISTIAN!!! */

.menudepagos{
  width: 100%;
}

.menudepagos ul{
  width: 100%;
  display: flex;
}

.menudepagos ul li{
  width: 33.333%;
  border: solid 1px #000;
  padding: 0.3%;
}

.menudepagos .tarjetas{
  font-size: 210%;
  display: flex;
  margin-top: 3%;
  margin-bottom: 7%;
}

.menudepagos .tarjetas .fa-cc-visa{
  color: blue;
}

.menudepagos .tarjetas .fa-cc-mastercard{
  color: red;
}

.menudepagos .tarjetas .fa-cc-amex{
  color: blue;
}

.menudepagos .tarjetas .fa-cc-paypal{
  color: blue;
}

.menudepagos .sucursales{
  font-size: 300%;
  display: flex;
  margin-bottom: 0.5%;
}

.menudepagos .envio{
  font-size: 300%;
  display: flex;
  margin-bottom: 0.5%;
}

.menudepagos .avion{
  font-size: 400%;
  display: flex;
  margin-bottom: 0.5%;
}

.menudepagos h2{
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 0.5%;
}

.menudepagos p{
  font-size: 1.2em;
  text-align: center;
}

.menudepagos .beneficios{
  padding: 2% 0.3% 0 0.3%;
}

.menudepagos .oculto{
  display: none;
}
















/* WARNING: TODOS LOS ESTILOS DEL "HEADER" SE ENCARGA AGUSTIN!!! */

















/* WARNING: TODOS LOS ESTILOS DEL "COLOCA QUE VAS A HACER ACA TATI" SE ENCARGA TATIANA!!! */




















/* WARNING: TODOS LOS ESTILOS DEL "COLOCA QUE VAS A HACER ACA JONAS" SE ENCARGA JONAS!!! */


















/* WARNING: MEDIA QUERIES PARA HACER RESPONSIVE LA PAGINA */

@media (min-width: 375px) {
  .flechaderecha .right:hover{
    padding-right: 10%;
  }

  .flechaisquierda .left:hover{
    padding-left: 10%;
  }

  .menudepagos .tarjetas{
    font-size: 250%;
    margin-top: 1%;
    margin-bottom: 3.5%;
  }
}

@media (min-width: 425px) {
  .flechaderecha .right{
    font-size: 800%;
  }

  .flechaisquierda .left{
    font-size: 800%;
  }

  .menudepagos .tarjetas{
    font-size: 280%;
    margin-top: 1%;
    margin-bottom: 1.5%;
  }
}

@media (min-width: 768px) {
  .flechaderecha .right{
    font-size: 1000%;
  }

  .flechaisquierda .left{
    font-size: 1000%;
  }

  .flechaderecha .right:hover{
    padding-right: 7%;
  }

  .flechaisquierda .left:hover{
    padding-left: 7%;
  }

  .iconopaginacion{
    display: block;
  }

  .menudepagos .tarjetas{
    font-size: 350%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .menudepagos .sucursales{
    font-size: 350%;
  }

  .menudepagos .envio{
    font-size: 350%;
  }

}

@media (min-width: 1024px) {
  .iconopaginacion{
    font-size: 250%;
  }

  .menudepagos .tarjetas{
    font-size: 400%;
  }

  .menudepagos .sucursales{
    font-size: 400%;
  }

  .menudepagos .envio{
    font-size: 400%;
  }

  .menudepagos .oculto{
    display: block;
  }

}

@media (min-width: 1280px) {
  .flechaderecha .right{
    font-size: 1200%;
  }

  .flechaisquierda .left{
    font-size: 1200%;
  }

  .flechaderecha .right:hover{
    padding-right: 5%;
  }

  .flechaisquierda .left:hover{
    padding-left: 5%;
  }

  .iconopaginacion:hover{
    color: red;
  }

}
